---

---

<h1 class="heading">Sheff Team</h1>
<div class="paragraph">
  <p>
  Welcome to our dev blog where we post about our development on our project for IBM AI Racing Competition 2026 
  </p>
  <p>You can find our source code for the blog
  <a
      href="https://github.com/DrCakeChan/sheff-races-blog"
      target="blank"
      class="link animation">here</a
    >.
  <p>
  </p>
</div>
